extends layout

block content
  form.form-signin(method='POST', action='/users/register')
    h1.h3.mb-3.font-weight-normal.text-center Register
    br
    #form-group
      label.sr-only Name:
      input.form-control(name='name', type='text',placeholder='Name')
    br
    #form-group
      label.sr-only Email:
      input.form-control(name='email', type='text',placeholder='Email')
    br
    #form-group
      label.sr-only Username:
      input.form-control(name='username',type='text',placeholder='Username')
    br
    #form-group
      label.sr-only Password:
      input.form-control(name='password',type='password',placeholder='Password')
    br
    #form-group
      label.sr-only Confirm:
      input.form-control(name='password2',type='password',placeholder='Confirm Password')
    br
    input.btn.btn-lg.btn-primary.btn-block(type='submit',value='Submit')
